.headerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.logo {
  font-family: noto-sans-bold;
  font-size: 40px;
  text-align: center;
}

.logoDescription {
  font-family: noto-sans-medium;
  font-size: 16px;
  text-align: center;
  color: #333;
}

.badge {
  display: inline-block;
  padding: 6px 8px 7px;
  border-radius: 4px;
  background: var(--dark);
  font-family: noto-sans-bold;
  color: var(--white);
}

.contentWrap {
  background: var(--white);
}

.content {
  margin: 0 auto;
  width: var(--content-size);
}

.footer {
  text-align: center;
  background: var(--gray);
  padding: 30px 0;
}

.copyright {
  font-family: noto-sans-bold;
  font-size: 14px;
}
